/* Einbindung der Font. */
@font-face
{
    font-family: 'Italic'; /* Veränderbare Font-Name */
    src: url('../fonts/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Schriftart auf komplette Seite angewendet */
body
{
    font-family: 'Italic', sans-serif; /* Falls Fontnamen geändert, hier auch ändern! */
}